:root {
  --body-bg: #fddcd2;

  --header-bg: #292929;
  --header-text: #f1a4cb;

  --main-bg: #fddcd2;
  --main-text: #--card-text: #201e1d;
  --main-title-bg: #f1a4cb;

  --card-bg: #8bf34681;
  --card-text: #201e1d;
}
